* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* text-align: center; */
  margin: 0 auto;
  max-width: 550px;
  background-color: #23252C;
  color: #ffffff;
  
}
.section {
  font-family: 'Inter', sans-serif;
}
.innerWrapper {
  max-width: 317px;
  background-color: #161619;
  text-align: center;
  margin: 0 auto;
  
}
.info {
  
}
.info--img {
  width: 317px;
  height: 317px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.info--name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-top: 20px;
}

.info--title {
 font-size: 12.8px;
 font-weight:400;
 color: #F3BF99;
}

.info--link {
 font-size: 10.24px;
 text-decoration: none;
 
}

.info--link:visited {
  color: white;
}

.info--buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0
}

.info--btn {
  width: 115px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}





